<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
;

$header = <<<EOF
Shopware Premium Plugins
Copyright (c) shopware AG

According to our dual licensing model, this plugin can be used under
a proprietary license as set forth in our Terms and Conditions,
section 2.1.2.2 (Conditions of Usage).

The text of our proprietary license additionally can be found at and
in the LICENSE file you have received along with this plugin.

This plugin is distributed in the hope that it will be useful,
with LIMITED WARRANTY AND LIABILITY as set forth in our
Terms and Conditions, sections 9 (Warranty) and 10 (Liability).

"Shopware" is a registered trademark of shopware AG.
The licensing of the plugin does not imply a trademark license.
Therefore any rights, title and interest in our trademarks
remain entirely with us.
EOF;

return PhpCsFixer\Config::create()
    ->setUsingCache(false)
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'header_comment' => ['header' => $header, 'separate' => 'bottom', 'commentType' => 'PHPDoc'],
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_class_elements' => true,
        'ordered_imports' => true,
        'phpdoc_order' => true,
        'phpdoc_summary' => false,
        'blank_line_after_opening_tag' => false,
        'concat_space' => ['spacing' => 'one'],
        'array_syntax' => ['syntax' => 'short']
    ])
    ->setFinder($finder)
;
