paths:
  - Tests/Helper/Actions

templates:
  - source: Tests/Helper/Actions/templates/config_testing.php.tpl
    destination: ../../../../../../config_testing.php

const:
  PLUGIN: SwagImportExport
  ENV: "testing"
  DB_USER: "root"
  DB_PASSWORD: "root"
  DB_HOST: "localhost"
  DB_DATABASE: "importexport_test"
  DB_PORT: "3306"
  CONFIG_FILE_PATH: ./Tests/Helper/Actions/
  SHOPWARE_ROOT: ../../../../../../