<?xml version="1.0"?>
<phpunit bootstrap="./Tests/bootstrap.php"
         backupGlobals="false"
         colors="true">

    <testsuite name="SwagImportExport Test Suite">
        <directory>./Tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>

            <exclude>
                <directory suffix=".php">./Tests</directory>
                <directory suffix=".php">./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
