<?xml version="1.0"?>
<phpunit bootstrap="./Tests/bootstrap.php"
         colors="true"
         backupGlobals="false"
         processIsolation="true"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.3/phpunit.xsd"
>
    <testsuite name="SwagBackendOrder Test Suite">
        <directory>./Tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>

            <exclude>
                <directory suffix=".php">./Tests</directory>
                <directory suffix=".php">./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
