<?xml version="1.0"?>
<phpunit bootstrap="./Tests/Shopware/ImportExport/Bootstrap.php"
         colors="true"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.3/phpunit.xsd"
>
    <testsuites>
        <testsuite name="Shopware ImportExport Plugin">
            <directory>Tests/Shopware/ImportExport</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>
</phpunit>
