<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.7/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Shopware Import/Export</label>
    <label lang="en">Shopware Import/Export</label>

    <version>4.1.0</version>
    <copyright>(c) by shopware AG</copyright>
    <license>MIT</license>
    <link>https://store.shopware.com</link>
    <author>shopware AG</author>
    <compatibility minVersion="5.7.4" maxVersion="5.99.99"/>

    <description lang="de">Das Importieren und Exportieren von Artikeln, Kunden oder Kategorien gehört zum Alltag vieler Shopbetreiber: Schnell lassen sich so Lagerbestände aktualisieren, Preise anpassen oder Erstimporte vornehmen.</description>
    <description lang="en">Importing and exporting product and customer data, categories as well as product images is a standard task of any shop owner. Keeping that in mind, Shopware wants to make it as easy as possible for you to quickly edit inventory, prices or even perform a customized import.</description>

    <changelog version="4.1.0">
        <changes lang="de">
            PT-13089 - Beim Export via CLI, kann nun nach Bestellstatus eingeschränkt werden;
            PT-13087 - Die Staffelpreis-spezifischen Werte für "von" und "bis" werden wieder korrekt exportiert;
        </changes>
        <changes lang="en">
            PT-13089 - While exporting via CLI, it is now possible to limit by order status;
            PT-13087 - The graduated price specific values for "from" and "to" are exported correctly again;
        </changes>
    </changelog>

    <changelog version="4.0.0">
        <changes lang="de">
            PT-12984 - Beim Löschen eines Datensatzes aus dem Protokoll werden nun auch die zugehörigen Daten aus anderen Tabellen in der Datenbank gelöscht;
            PT-13042 - Der Import von default_articles_complete mit bereits existierenden Bildern funktioniert wieder fehlerfrei;
            PT-13045 - Der Import von default_category_translations funktioniert wieder fehlerfrei;
            PT-13026 - Leere Exporte via CLI werden wieder korrekt im Protokoll angezeigt;
            PT-13006 - Bei der Konvertierungseinstellung in Profilen werden nun wieder alle Felder korrekt angezeigt;
            PT-13035 - Zum Import hoch geladene Dateien werden nun nicht mehr überschrieben, wenn sie den gleichen Namen haben;
            PT-13067 - Produktbilder werden wieder nachgelagert nach dem Import der anderen Produktdaten importiert;
        </changes>
        <changes lang="en">
            PT-12984 - Deleting a record from the log removes also the associated data from other tables in the database;
            PT-13042 - The import of default_articles_complete with already existing images works again without errors;
            PT-13045 - The import of default_category_translations works again without any errors;
            PT-13026 - Empty exports via CLI are displayed correctly in the log again;
            PT-13006 - In the conversion setting in profiles, all fields are now displayed correctly again;
            PT-13035 - Files uploaded for import are now no longer overwritten if they have the same name;
            PT-13067 - Product images are imported again downstream after the other product data is imported;
        </changes>
    </changelog>

    <changelog version="3.1.2">
        <changes lang="de">
            PT-13003 - Cache wird jetzt beim Aktivieren, Updaten und Deinstallieren des Plugins bereinigt;
            PT-13001 - Importe und Exporte über das Backend-Modul berücksichtigen wieder korrekt die Batch-Size;
        </changes>
        <changes lang="en">
            PT-13003 - Cache will now be cleared on activating, updating or uninstalling the plugin;
            PT-13001 - Imports and exports via the backend module correctly consider the batch size again;
        </changes>
    </changelog>

    <changelog version="3.1.1">
        <changes lang="de">
            PT-12979 - Ust-ID zum MainOrder-Profil hinzugefügt;
            PT-12981 - Menüpunkt wird nun auch nach Neuinstallation korrekt angezeigt;
            PT-12983 - Importe über die CLI berücksichtigen nun korrekt die Batch-Size;
        </changes>
        <changes lang="en">
            PT-12979 - Add VAT ID to the MainOrder profile;
            PT-12981 - Menu item is now correctly displayed after re-installation;
            PT-12983 - Imports via the CLI consider the batch size correctly now;
        </changes>
    </changelog>

    <changelog version="3.1.0">
        <changes lang="de">
            PT-7994 - Import von Staffelpreisen verbessert;
            PT-12928 - Exporte über die CLI können wieder mit dem Product Stream Namen ausgeführt werden;
            PT-12958 - Korrigiert das Entfernen von Feldern aus eigenen Profilen;
            PT-12967 - Menüpunkt wird nun auch nach Neuinstallation korrekt angezeigt;
            PT-12971 - Verbessert Erweiterbarkeit durch Dritt-Anbieter-Plugins;
        </changes>
        <changes lang="en">
            PT-7994 - Improve import of graduated prices;
            PT-12928 - Exports via the CLI can be executed with the Product Stream name again;
            PT-12958 - Fix deleting fields from custom profiles;
            PT-12967 - Menu item is now correctly displayed after re-installation;
            PT-12971 - Improves extensibility via third-party plugins;
        </changes>
    </changelog>

    <changelog version="3.0.4">
        <changes lang="de">
            PT-12919 - Fehler beim Hinzufügen von Datenbankspalten zu einem Artikelprofil behoben;
            PT-12927 - Bestellungen können beim Export wieder nach Status gefiltert werden;
            PT-12930 - Menüpunkt wird nun auch nach Neuinstallation korrekt angezeigt;
            PT-12933 - Import von Konfiguratoren verbessert;
        </changes>
        <changes lang="en">
            PT-12919 - Fix error when adding database columns to an article profile;
            PT-12927 - Orders can be filtered by status again while exporting;
            PT-12930 - Menu item is now correctly displayed after re-installation;
            PT-12933 - Improved import of configurators;
        </changes>
    </changelog>

    <changelog version="3.0.3">
        <changes lang="de">
            PT-12756 - Erlaubt nun das Importieren von Eigenschaftsnamen mit dem Wert '0';
            PT-12905 - Fehler beim Exportieren von Product Streams via CLI-Kommando behoben;
            PT-12906 - Fehler beim Schreiben von Konfigurationen behoben;
            PT-12907 - Fehler beim Setzen von Standard-Werten eines Feldes in eigenen Profilen behoben;
        </changes>
        <changes lang="en">
            PT-12756 - Allows now importing property names with the value '0';
            PT-12905 - Fixed error when exporting product streams via CLI command;
            PT-12906 - Fixed error writing configurations;
            PT-12907 - Fixed error if a default value for a field is set in custom profiles;
        </changes>
    </changelog>

    <changelog version="3.0.2">
        <changes lang="de">
            PT-12900 - Fehler beim Schreiben von Konfigurationen behoben;
            PT-12901 - PHP 8 Kompatibilität verbessert;
            PT-12902 - Korrigiert die Nutzung des Cron-Controllers;
        </changes>
        <changes lang="en">
            PT-12900 - Fixed error writing configurations;
            PT-12901 - Improve PHP 8 compatibility;
            PT-12902 - Fix usage of the cron controller;
        </changes>
    </changelog>

    <changelog version="3.0.1">
        <changes lang="de">
            PT-12895 - Fehler bei dem Laden der Controller mit Shopware Version kleiner als 5.7.7 behoben;
            PT-12896 - Verwendung der richtigen Konstanten;
        </changes>
        <changes lang="en">
            PT-12610 - Fixed controller loading with Shopware version lower than 5.7.7;
            PT-12896 - Usage of the right constants;
        </changes>
    </changelog>

    <changelog version="3.0.0">
        <changes lang="de">
            PT-12610 - Umbau des Plugins auf das moderne Shopware-5-Plugin-System. Bitte testen Sie diese neue Version zuerst in einer Staging-Umgebung;
        </changes>
        <changes lang="en">
            PT-12610 - Rebuild of the plugin to the modern Shopware 5 plugin system. Please test this new version in a staging environment first;
        </changes>
    </changelog>

    <changelog version="2.12.0">
        <changes lang="de">
            PT-12662 - Neues Preisfeld 'Günstigster Preis der letztens 30 Tage' kann nun importiert und exportiert werden;
            PT-12695 - Zurückziehen der Änderungen aus PT-1238 und neue Events hinzugefügt;
        </changes>
        <changes lang="en">
            PT-12662 - New price field 'Cheapest price of the last 30 days' can now be imported and exported;
            PT-12695 - Revert changes from PT-12384 and add new events;
        </changes>
    </changelog>
    <changelog version="2.11.0">
    <changes lang="de">
        SW-26128, SW-26398, SW-26417, PT-12454, PT-26422 - Verbesserung der allgemeinen Code-Qualität;
        PT-10154 - Fehlendes Feld 'deviceType' zum Bestellexport-Profil hinzugefügt;
        PT-10267 - Order Detail Attribute zu Bestellungen hinzugefügt;
        PT-10268 - Kundennummer zum Export der Bestellungen hinzugefügt;
        PT-11223 - Das Produktfeld 'kind' kann nun importiert werden;
        PT-11470 - Das Inkludieren der Varianten funktioniert nun mit Productstreams;
        PT-12138 - Bilder-Download verbessert;
        PT-12146 - Verfügbare Daten im Event 'Shopware_Components_SwagImportExport_DbalHelper_GetQueryBuilderForEntity_Value' erweitert;
        PT-12384 - Fehlende Felder 'documentId, documentTypeId, documentDate' zum Bestellexport-Profil hinzugefügt;
        PT-12447 - Das Produktfeld 'shippingTime' kann nun übersetzt werden;
        PT-12480 - Verbesserung der PHP 8 Kompatibilität;
        PT-12606 - Fehlendes Feld 'clearedDate' zum Bestellexport-Profil hinzugefügt;
    </changes>
    <changes lang="en">
        SW-26128, SW-26398, SW-26417, PT-12454, PT-26422 - Improve overall code quality;
        PT-10154 - Add missing field 'deviceType' to order export profile;
        PT-10267 - Order detail attributes added to orders;
        PT-10268 - Add customer number to order export;
        PT-11223 - The product field 'kind' can now be imported;
        PT-11470 - Including variants now works with product streams;
        PT-12138 - Improve image download;
        PT-12146 - Extend available data in 'Shopware_Components_SwagImportExport_DbalHelper_GetQueryBuilderForEntity_Value' event;
        PT-12384 - Add missing fields 'documentId, documentTypeId, documentDate' to order export profile;
        PT-12447 - The product field 'shippingTime' can now be translated;
        PT-12480 - Improve PHP 8 compatibility;
        PT-12606 - Add missing field 'clearedDate' to order export profile;
    </changes>
    </changelog>
    <changelog version="2.10.8">
    <changes lang="de">
        PT-12120 - Shopware 5.7 und PHP8 Kompatibilität;
    </changes>
    <changes lang="en">
        PT-12120 - Shopware 5.7 and PHP8 compatibility;
    </changes>
    </changelog>
    <changelog version="2.10.7">
    <changes lang="de">
        PT-9529 - Optimiert den Export Prozess;
    </changes>
    <changes lang="en">
        PT-9529 - Optimizes the export process;
    </changes>
    </changelog>
    <changelog version="2.10.6">
    <changes lang="de">
        PT-10810 - Optimiert den Import Prozess;
    </changes>
    <changes lang="en">
        PT-10810 - Optimizes the import process;
    </changes>
    </changelog>
    <changelog version="2.10.5">
    <changes lang="de">
        PT-10211 - Verbessert den Import von Kundennummern;
    </changes>
    <changes lang="en">
        PT-10211 - Improves import of customer numbers;
    </changes>
    </changelog>
    <changelog version="2.10.4">
    <changes lang="de">
        PT-11213 - Profil-Auswahl-Combobox zu eine PaginationCombobox geändert;
    </changes>
    <changes lang="en">
        PT-11213 - Change profile selection to PaginationCombobox;
    </changes>
    </changelog>
    <changelog version="2.10.3">
    <changes lang="de">
        PT-10898 - Die Rechnungsversandkosten werden nun im richtigen Dezimalformat exportiert;
    </changes>
    <changes lang="en">
        PT-10898 - The invoice shipping costs are now exported in the correct decimal format;
    </changes>
    </changelog>
    <changelog version="2.10.2">
    <changes lang="de">
        PT-10789 - Problem beim Im/Export der Übersetzungen behoben;
    </changes>
    <changes lang="en">
        PT-10789 - Fix problem on im/exporting translations;
    </changes>
    </changelog>
    <changelog version="2.10.1">
    <changes lang="de">
        PT-10727 - Behebt ein Problem mit der 5.6 Kompatibilität;
    </changes>
    <changes lang="en">
        PT-10727 - Solves an issue regarding 5.6 compatibility
    </changes>
    </changelog>
    <changelog version="2.10.0">
    <changes lang="de">
        PT-10425 - Shopware 5.6 Kompatibilität;
    </changes>
    <changes lang="en">
        PT-10425 - Shopware 5.6 compatibility;
    </changes>
    </changelog>
    <changelog version="2.9.0">
    <changes lang="de">
        PT-9955 - Erlaubt Filterung beim Export von Artikelpreisen;
    </changes>
    <changes lang="en">
        PT-9955 - Allows filtering on export product prices;
    </changes>
    </changelog>
    <changelog version="2.8.0">
    <changes lang="de">
        PT-9223 - Optimiert den Download von großen Dateien;
        PT-9479 - Verbessert Information in der Fehlermeldung beim Kundenimport;
        PT-9606 - Fügt weitere Felder beim Export von Bestellungen hinzu;
        PT-9834 - Kompatibilität mit übersetzbaren Bestell- und Zahlungsstatus hergestellt;
        PT-9869 - Ergänzt die Fehlermeldung bei doppelten E-Mail-Adressen mit unterschiedlichen Kundennummern;
        PT-9870 - Behebt ein Problem mit dem Pfad für die Logs bei Composer Installationen;
        PT-9937 - Ermöglicht das Filter von Exporten via CLI-Command mit dateFrom und dateTo Parametern;
    </changes>
    <changes lang="en">
        PT-9223 - Optimizes download of large files;
        PT-9479 - Improves information in error message when importing customer;
        PT-9606 - Adds further available fields for order export;
        PT-9834 - Fixed compatibility with translatable order and payment status;
        PT-9869 - Adds the error message for duplicate email addresses with different customer numbers;
        PT-9870 - Fixes an issue with path building for logs when installing via composer;
        PT-9937 - Allows filtering of exports via CLI command with dateFrom and dateTo parameters;
    </changes>
    </changelog>
    <changelog version="2.7.0">
    <changes lang="de">
        PT-8508 - Freitextfeld-Übersetzungen zu CSV-Import hinzugefügt;
        PT-9186 - Kompatibilität zu anderen Plugins verbessert;
        PT-9672 - Standardwert für das Änderungsdatum von Artikeln;
        PT-9703 - Profil für Kategorieübersetzungen hinzugefügt;
        PT-9711 - Profil für ähnliche Artikel verbessert;
    </changes>
    <changes lang="en">
        PT-8508 - Added attribute translations to CSV import;
        PT-9186 - Improve compatibility to other plugins;
        PT-9672 - Default value for change date of products;
        PT-9703 - Added profile for category translations;
        PT-9711 - Improve profile for similar products;
    </changes>
    </changelog>
    <changelog version="2.6.2">
    <changes lang="de">
        PT-9279 - Kompatibilität zu anderen Plugins verbessert;
    </changes>
    <changes lang="en">
        PT-9279 - Improve compatibility with other plugins;
    </changes>
    </changelog>
    <changelog version="2.6.1">
    <changes lang="de">
        PT-9004 - Optimierung der Performanz beim Export von Produkten;
    </changes>
    <changes lang="en">
        PT-9004 - Improve export performance for products;
    </changes>
    </changelog>
    <changelog version="2.6.0">
    <changes lang="de">
        PT-9177 - Shopware 5.5 Kompatibilität;
        PT-9220 - Konvertierung sind nun paginiert;
    </changes>
    <changes lang="en">
        PT-9177 - Shopware 5.5 compatibility;
        PT-9220 - Conversion is now paginated;
    </changes>
    </changelog>
    <changelog version="2.5.0">
    <changes lang="de">
        PT-8657 - Konfiguration der BatchSize für Export und Import;
        PT-8910 - Der Wert '0' wird nun korrekt importiert;
        PT-8923 - Der Artikelexport kann nun auf Product-Streams eingeschränkt werden;
    </changes>
    <changes lang="en">
        PT-8657 - Configuration of batch size for export and import;
        PT-8910 - The value '0' gets imported correctly now;
        PT-8923 - It is now possible to limit the product export to a Product-Stream;
    </changes>
    </changelog>
    <changelog version="2.4.5">
    <changes lang="de">
        PT-9090 - Fehler beim Export von Bestellungen behoben, wenn keine gültige Steuer hinterlegt ist;
        PT-9243 - Hilfetext für CLI-Command korrigiert;
    </changes>
    <changes lang="en">
        PT-9090 - Fix error on export of orders, if a non-valid tax is set;
        PT-9243 - Fix help text for CLI command;
    </changes>
    </changelog>
    <changelog version="2.4.4">
    <changes lang="de">
        PT-9240 - Kunden komplett Profile berücksichtigt nun alle Bestellungen des Kunden;
    </changes>
    <changes lang="en">
        PT-9240 - Customer complete profile considers now every order of the customer;
    </changes>
    </changelog>
    <changelog version="2.4.3">
    <changes lang="de">
        PT-9191 - Double-Opt-in Registrierungs- und Verfizierungsdaten wurden zu den Newsletter-Informationen hinzugefügt;
    </changes>
    <changes lang="en">
        PT-9191 - Added Double-Opt-In register and confirmation dates to newsletter information;
    </changes>
    </changelog>
    <changelog version="2.4.2">
    <changes lang="de">
        PT-7985 - Problem bei Attribut-Importen behoben;
        PT-8357 - Blocknamen im Backendmodul korrigiert;
        PT-8661 - Verbessert die Kompatibilität mit Header Modifizierungen bei Export-Downloads;
    </changes>
    <changes lang="en">
        PT-7985 - Fix problem with attribute imports;
        PT-8357 - Fix block names in backend module;
        PT-8661 - Improves compatibility with header modifications when downloading exports;
    </changes>
    </changelog>
    <changelog version="2.4.1">
    <changes lang="de">
        PT-9051 - Behebt ein Problem beim Export über das Profil 'Komplette Kundendaten';
    </changes>
    <changes lang="en">
        PT-9051 - Fix problem when exporting complete customer data;
    </changes>
    </changelog>
    <changelog version="2.4.0">
    <changes lang="de">
        PT-8880 - Komplettexport Kundendaten als Profil hinzugefügt
    </changes>
    <changes lang="en">
        PT-8880 - Added profile for complete customer data export
    </changes>
    </changelog>
    <changelog version="2.3.1">
    <changes lang="de">
        PT-8328, PT-8329, PT-8331 - Neue Events in ArticlesDbAdapter, CategoryWriter und DbalHelper hinzugefügt;
    </changes>
    <changes lang="en">
        PT-8328, PT-8329, PT-8331 - Added new events in ArticlesDbAdapter, CategoryWriter and DbalHelper;
    </changes>
    </changelog>
    <changelog version="2.3.0">
    <changes lang="de">
        PT-8810 - Shopware 5.4 Kompatibilität;
        PT-9529 - Optimizes the export process;
    </changes>
    <changes lang="en">
        PT-8810 - Shopware 5.4 compatibility
    </changes>
    </changelog>
    <changelog version="2.2.0">
    <changes lang="de">
        PT-8008 - Snippet update;
        SW-18952 - Customer stream selector hinzugefügt;
        PT-7975 - Auto import für cron list hinzugefügt;
        PT-8031 - CS fixes;
        PT-7419 - CSV Zeilenumbruch Probleme behoben;
        NTR - composer.json aktualisiert;
        PT-8611 - Parameter überschreiben möglich im UI;
        PT-8770 - Konfiguration für Trennzeichen beachten;
        PT-8749 - Adressexport über korrekte Tabelle;
        PT-7624 - Kategorieimport über Pfad gefixt;
        PT-8534 - Optimierung für Cron runner und Dateisystem;
        PT-8226 - Kategorieimport ohne Fehler bei komplexen Bäumen;
        NTR - Weitere Felder für Bestellexport auswählbar
    </changes>
    <changes lang="en">
        PT-8008 - Snippet update;
        SW-18952 - Add customer stream selector;
        PT-7975 - Add auto import to cron list;
        PT-8031 - CS fixes;
        PT-7419 - Fix csv line break detection;
        NTR - Updated composer.json;
        PT-8611 - Allow parameter override;
        PT-8770 - Recognize config settings for decimal separator;
        PT-8749 - Use correct address table on export;
        PT-7624 - Fix category creation on import via path;
        PT-8534 - Optimize cron runner and filesystem;
        PT-8226 - Fix category export for complex trees;
        NTR - Add further fields to order export
    </changes>
    </changelog>
    <changelog version="2.1.0">
    <changes lang="de">
        PT-7644, SW-18399, SW-18916 - Shopware 5.3 Kompatibilität;
    </changes>
    <changes lang="en">
        PT-7644, SW-18399, SW-18916 - Shopware 5.3 compatibility;
    </changes>
    </changelog>
    <changelog version="2.0.2">
    <changes lang="de">
        PT-6830 - Feature: Kundenadressen Standardprofil;
        PT-7063 - Bugfix: Beschreibungen für Standardprofile;
        PT-7095 - Bugfix: Artikelpreis-Import über CLI verbessert;
        PT-7151 - Bugfix: Import von Artikeln mit Staffelpreisen;
        PT-7189 - Bugfix: Sortierung der Protokolle anhand des Erstelldatums;
        PT-7190 - Bugfix: Sortieren und Filtern für Profile verbessert;
        PT-7192 - Bugfix: Verbesserung der Fehlermeldungen bei erweiterten Datensätzen;
        PT-7198 - Bugfix: Arbeitsablauf Anlegen und Anpassen von Profilen verbessert;
        PT-7234 - Bugfix: Zuweisung von Newsletter-Empfänger zu Gruppen;
        PT-7254 - Bugfix: Update Probleme;
        PT-7286 - Bugfix: Fehler beim Erstellen von Spalten;
        PT-7272 - Bugfix: Artikelpreis Import für Einkaufspreis;
        PT-7281 - Feature: Standardprofil für Bestellungen;
        PT-7293 - Bugfix: Kein Import-Error für leere Artikeleigenschaften;
    </changes>
    <changes lang="en">
        PT-6830 - Feature: customer address default profile;
        PT-7063 - Bugfix: Descriptions for default profiles;
        PT-7095 - Bugfix: Improve product prices import via CLI;
        PT-7151 - Bugfix: Import of products with graduation prices;
        PT-7189 - Bugfix: Sorting for protocols based on creation date;
        PT-7190 - Bugfix: Improve filtering and sorting for profiles;
        PT-7192 - Bugfix: Improved error messages for extended data sets;
        PT-7198 - Bugfix: Improve workflow for creating and editing profiles;
        PT-7234 - Bugfix: Linking newsletter recipients to groups;
        PT-7254 - Bugfix: Update problems;
        PT-7286 - Bugfix: Issue when adding columns;
        PT-7272 - Bugfix: Product price import purchase price;
        PT-7281 - Feature: Default profile for orders;
        PT-7293 - Bugfix: No import error for empty product property;
    </changes>
    </changelog>
    <changelog version="2.0.1">
    <changes lang="de">
        PT-7236 - Doppelt vergebene Profil-Namen bekommen einen individuellen Suffix
    </changes>
    <changes lang="en">
        PT-7236 - Duplicate named profile names will get an individual suffix
    </changes>
    </changelog>
    <changelog version="2.0.0">
    <changes lang="de">
        PT-6896 - Bugfix: CSV-Dateien lassen sich ohne Leerzeile am Ende importieren;
        PT-6896 - Bugfix: Kategorie-ID ist nun ein Pflichtfeld für Kategorien;
        PT-6896 - Bugfix: Kategorie-IDs werden nicht mehr automatisch inkrementiert;
        PT-6822 - Bugfix: Einkaufspreise konnten nicht importiert werden;
        PT-6816 - Bugfix: Artikel-Bilder können wieder von externen Ressourcen importiert werden;
        Feature: Redesign des Import/Export-Moduls;
        Feature: Standardprofile hinzugefügt;
        Feature: Import/Export-Profile können exportiert und importiert werden;
    </changes>
    <changes lang="en">
        PT-6896 - Bugfix: CSV-files are able to import without a whitespace at the end;
        PT-6896 - Bugfix: Category-ID is required for categories;
        PT-6896 - Bugfix: Disabled auto-increment of category ids;
        PT-6822 - Bugfix: Purchase prices could not be imported;
        PT-6816 - Bugfix: Article images can be imported from external resources;
        Feature: Redesign of the Import/Export module;
        Feature: Added default profiles;
        Feature: Import/Export profiles can be exported and imported;
    </changes>
    </changelog>
    <changelog version="1.2.4">
    <changes lang="de">
        PT-3999 - Bugfix: Fehler mit doppelten Exporteinträgen bei Hauptvarianten gefixt;
        PT-5114 - Bugfix: Kundenimport berücksichtigt nun auch die jeweilige Sprachshopzugehörigkeit;
        PT-5340 - Bugfix: Export von Kundendaten mit Geburtstag;
        PT-5633 - Bugfix: Kombinierte Bildzuordnungen werden korrekt importiert;
        PT-5886 - Bugfix: Relationen von Eigenschaft-Sets lassen sich importieren;
        PT-6833 - Bugfix: Layout beim mehrfachen Öffnen;
        PT-6836 - Bugfix: Problem mit XML Importen und Anzeige der Anzahl;
    </changes>
    <changes lang="en">
        PT-3999 - Bugfix: Fix issue with recurring export entries for main variant translations;
        PT-5114 - Bugfix: Customer import links now to the correct language shops;
        PT-5340 - Bugfix: Fixed client export with birthdays;
        PT-5633 - Bugfix: Combined image mappings are imported correctly;
        PT-5886 - Bugfix: Relations of property sets can be imported;
        PT-6833 - Bugfix: Layout when opening many instances;
        PT-6836 - Bugfix: Fixed problem with xml imports and wrong counted elements;
    </changes>
    </changelog>
    <changelog version="1.2.3">
    <changes lang="de">
        PT-6788 - Bugfix: URL generierung für XML downloads für NGINX-Systeme angepasst;
        PT-6736 - Aktive Hauptvarianten aktivieren auch den gesamten Artikel - Boolesche Werte werden nun korrekt exportiert;
        PT-6729 - 0 Werte können wieder importiert werden;
        PT-6711 - Bestellimport gefixed und automatisierte Tests hinzugefügt;
        PT-6710 - Exportierte und Importierte Dateien können wieder heruntergeladen werden;
        PT-6685 - Tests für CLI-Kommandos hinzugefügt;
        PT-6700 - CLI-Import tests hinzugefügt;
        PT-6701 - Automatisierte Tests hinzugefügt;
    </changes>
    <changes lang="en">
        PT-6788 - Bugfix: Fix URL generation for XML downloads under NGINX systems;
        PT-6736 - Active main variants activate the complete article - Boolean values will be exported correctly;
        PT-6729 - 0 values can be imported again;
        PT-6711 - Fixed order import and added automated tests;
        PT-6710 - Fixed download of exported and imported files;
        PT-6685 - Added CLI commands tests;
        PT-6700 - Added CLI import tests;
        PT-6701 - Added automated tests;
    </changes>
    </changelog>
    <changelog version="1.2.2">
    <changes lang="de">
        PT-4457 - Bugfix: SecureUninstall Implementierung;
        PT-4564 - Bugfix: Konfiguratorset zum Artikel hinzugefügt;
        PT-5218 - Bugfix: PHPUnit Tests;
        PT-5741 - Bugfix: Unnötige CDN Integration entfernt;
        PT-5754 - Feature: Konfiguration für Dezimal-Trennzeichen;
        PT-5810 - Bugfix: Einkaufspreis;
        PT-6100 - Bugfix: Pflichtfeldprüfung für Übersetzungen;
        PT-6365 - Feature: Kategoriefilter für das Export-Kommando;
        PT-6371 - Bugfix: Refaktorierung Logger;
        PT-6392 - Bugfix: Paginierung im Profil-Dropdown;
    </changes>
    <changes lang="en">
        PT-4457 - Bugfix: Implement SecureUninstall;
        PT-4564 - Bugfix: Add configurator set to article;
        PT-5218 - Bugfix: PHPUnit tests;
        PT-5741 - Bugfix: Remove unnecessary CDN Integration;
        PT-5754 - Feature: Configuration for decimal delimiter;
        PT-5810 - Bugfix: Purchase price;
        PT-6100 - Bugfix: Check for required fields for translations;
        PT-6365 - Feature: Category filter for export command;
        PT-6371 - Bugfix: Refactoring logger;
        PT-6392 - Bugfix: Pagination of profile dropdown;
    </changes>
    </changelog>
    <changelog version="1.2.1">
    <changes lang="de">
        PT-6190 - Bugfix: Import über Cron;
    </changes>
    <changes lang="en">
        PT-6190 - Bugfix: Import via cron;
    </changes>
    </changelog>
    <changelog version="1.2.0">
    <changes lang="de">
        PT-5674 - Feature: Shopware 5.2 Kompatibilität;

    </changes>
    <changes lang="en">
        PT-5674 - Feature: Shopware 5.2 compatibility;
    </changes>
    </changelog>
    <changelog version="1.1.8">
    <changes lang="de">
        PT-5547 - Bugfix: Download XML Exporte;
    </changes>
    <changes lang="en">
        PT-5547 - Bugfix: Download XML exports;
    </changes>
    </changelog>
    <changelog version="1.1.7">
    <changes lang="de">
        PT-4288 - Bugfix: Import Staffelpreise repariert;
    </changes>
    <changes lang="en">
        PT-4288 - Bugfix: Fixed import of scale-prices;
    </changes>
    </changelog>
    <changelog version="1.1.6">
    <changes lang="de">
        PT-3447 - Bugfix: Import Konfiguratorfelder;
        PT-3929 - Bugfix: Artikelübersetzungen;
        PT-4099 - Bugfix: Fehlerhafter Import einiger Felder, wie 'Länge' und 'Erstellt';
        PT-4123 - Bugfix: Aktivkennzeichung bei Artikelimport;
        PT-4133 - Bugfix: Kundenimport;
        PT-4225 - Bugfix: Errorlog;
        PT-4232 - Bugfix: Export offene Bestellungen;
        PT-4243 - Bugfix: Datumsfilter Bestellübersichtsexport;
        PT-4245 - Bugfix: Zuordnung PLZ und Stadt;
        PT-4423 - Bugfix: Standardwerte für Felder, die nicht NULL sein dürfen;
        PT-4424 - Bugfix: Import Kundenattribute;
        PT-4549 - Bugfix: Fehler ohne Nachricht beim Kundenimport;
        PT-4550 - Bugfix: Steuerberechnung Bestellübersichtsexport;
        PT-4552 - Bugfix: Löschen und Erstellen eines Profils;
        PT-4557 - Bugfix: Artikel Lagerbestand Export per CLI;
        PT-4615 - Bugfix: Falscher Pfad beim Export;
        PT-3447 - Bugfix: Konfigurator Typ wird nun korrekt importiert;
    </changes>
    <changes lang="en">
        PT-3447 - Bugfix: Import configurator fields;
        PT-3929 - Bugfix: Product translations;
        PT-4099 - Bugfix: Faulty import of some fields, like 'length' and 'created';
        PT-4123 - Bugfix: Active flag on product import;
        PT-4133 - Bugfix: Customer import;
        PT-4225 - Bugfix: Error log;
        PT-4232 - Bugfix: Export open orders;
        PT-4243 - Bugfix: Date filter order overview export;
        PT-4245 - Bugfix: Mapping zip and city;
        PT-4423 - Bugfix: Default values for fields, which are not allowed to be NULL;
        PT-4424 - Bugfix: Import customer attributes;
        PT-4549 - Bugfix: Error without message on customer import;
        PT-4550 - Bugfix: Tax calculation order overview export;
        PT-4552 - Bugfix: Deleting and creating of a profile;
        PT-4557 - Bugfix: Product stock export via CLI;
        PT-4615 - Bugfix: Wrong path at export;
        PT-3447 - Bugfix: Configurator type is now properly imported;
    </changes>
    </changelog>
    <changelog version="1.1.5">
    <changes lang="de">
        PT-2436 - Feature: Möglichkeit Standardwerte zu hinterlegen;
        PT-3313 - Bugfix: Falscher Titel bei Import über Cronjob;
        PT-3417 - Bugfix: Import fortsetzen über Konsole;
        PT-3448 - Feature: Neuer Export - Bestellübersicht;
        PT-3513 - Bugfix: Problem mit Umlauten;
        PT-3530 - Bugfix: Kategorie Metatitel hinzugefügt;
        PT-3752 - Bugfix: Import Variantenoption 0 / null;
        PT-3814 - Bugfix: Shop URL von importierter Datei entfernt;
        PT-3833 - Bugfix: Shopware 5.1 Kompatibilität;
        PT-3920 - Bugfix: Fehlende Klasse;
        PT-3980 - Bugfix: PHPUnit Tests korrigiert;
    </changes>
    <changes lang="en">
        PT-2436 - Feature: Possibility to define default values;
        PT-3313 - Bugfix: Wrong title for import via Cronjob;
        PT-3417 - Bugfix: Continue import via console;
        PT-3448 - Feature: New export - order overview;
        PT-3513 - Bugfix: Problem with umlauts;
        PT-3530 - Bugfix: Added category meta title;
        PT-3752 - Bugfix: Import variant option 0 / null;
        PT-3814 - Bugfix: Remove shop url from imported file;
        PT-3833 - Bugfix: Shopware 5.1 Compatibility;
        PT-3920 - Bugfix: Missing class;
        PT-3980 - Bugfix: PHPUnit tests fixed;
    </changes>
    </changelog>
    <changelog version="1.1.1">
    <changes lang="de">
        PT-3800 - Bugfix: Shopware 5.1 Kompatibilität;
    </changes>
    <changes lang="en">
        PT-3800 - Bugfix: Shopware 5.1 compatibility;
    </changes>
    </changelog>
    <changelog version="1.1.0">
    <changes lang="de">
        PT-3246 - Bugfix: Probleme mit Lizenzcheck und Konsolenkommandos;
        PT-3270 - Bugfix: Export Metatitel von Bildern;
        PT-3520 - Bugfix: Import von Steuersätzen;
        PT-3561 - Bugfix: Import von Zubehörartikeln;
        PT-3671 - Import/Export ist nun kostenlos verfügbar;
    </changes>
    <changes lang="en">
        PT-3246 - Bugfix: Problems with license check and console commands;
        PT-3270 - Bugfix: Export meta title of images;
        PT-3520 - Bugfix: Import of taxes;
        PT-3561 - Bugfix: Import of accessory products;
        PT-3671 - Import/Export is now available for free;
    </changes>
    </changelog>
    <changelog version="1.0.7">
    <changes lang="de">
        PT-2899, PT-3060 - Verbesserung: Starke Verbesserung der Performance;
        PT-3007 - Feature: Kategorien über den Pfad zuweisen;
        PT-3025 - Bugfix: Artikel Lagerbestand Export-Fehler behoben;
        PT-3117 - Bugfix: Import/Export über die Konsole repariert;
        PT-3422 - Bugfix: Ungebrauchte Snippets entfernt
    </changes>
    <changes lang="en">
        PT-2899, PT-3060 - Improvement: Highly improved the performance;
        PT-3007 - Feature: Assign categories to articles by path;
        PT-3025 - Bugfix: Importing/exporting article stock works properly now;
        PT-3117 - Bugfix: Fixed the import/export when using the console;
        PT-3422 - Bugfix: Removed unnecessary snippets
    </changes>
    </changelog>
    <changelog version="1.0.6">
    <changes lang="de">
        PT-2785 - Verbesserung: Erlaube Bilder-Uploads im Artikel-Profil;
        PT-2810 - Bugfix: Bilder mit Leerzeichen;
        PT-2818 - Verbesserung: Kunden-Referenz über die ID;
        PT-2819 - Verbesserung: Kunden-Updates ohne Password;
        PT-2850 - Verbesserung: Übersetzung von Varianten, Konfiguratoren und Eigenschaften;
        PT-2815 - SW5 Kompatibilität
    </changes>
    <changes lang="en">
        PT-2785 - Improvement: Image uploads from within the article profile;
        PT-2810 - Bugfix: Images with whitespaces;
        PT-2818 - Improvement: Reference customers via ID;
        PT-2819 - Improvement: Customer updates without passwords;
        PT-2850 - Improvement: Translate variants, configurations and properties;
        PT-2815 - SW5 compatibility
    </changes>
    </changelog>
    <changelog version="1.0.5">
    <changes lang="de">
        PT-2514 Feature: Artikel-Lagerbestand-Filter;
        PT-2530 Feature: Eigenschaften-Import hinzugefügt;
        PT-2531 Feature: Konfigurator-Optionen über IDs ansprechen;
        PT-2533 Feature: Aktualisierung von Bezahlstatus;
        PT-2536 Fix: Optionale Spalten beim Bildimport;
        PT-2538 Fix: Konfiguratorgruppen mit Doppelpunkten;
        PT-2618 Feature: Kategorie-Kundengruppen-Ausschlüsse;
        PT-2642 Fix: Kompatibilität mit BusinessEssentials;
        PT-2650 Fix: Logeinträge beim Kundenimport;
        PT-2662 Fix: Konfigurator-Positionen;
    </changes>
    <changes lang="en">
        PT-2514 Feature: Article instock filter;
        PT-2530 Feature: Added import of properties;
        PT-2531 Feature: Reference configurator options by ID;
        PT-2533 Feature: Update payment states;
        PT-2536 Fix: Optional columns for image import;
        PT-2538 Fix: Colons in configurator group names;
        PT-2618 Feature: exclude for customer groups on categories;
        PT-2642 Fix: BusinessEssentials compatibility;
        PT-2650 Fix: log entry for customer group imports;
        PT-2662 Fix: configurator positions;
    </changes>
    </changelog>
    <changelog version="1.0.4">
    <changes lang="de">
        PT-2650 Korrektur: Behebt leere Log-Dateien bei einigen Profilen;
        PT-2653 Korrektur: importieren von Artikeleigenschaften;
        PT-2514 Hinzugefügt: Zwei neue Lagerbestandsfilter
    </changes>
    <changes lang="en">
        PT-2650 Fixed creating of empty log record for some profiles;
        PT-2653 Fixed importing of articles properties;
        PT-2514 Add: Two new in stock filter
    </changes>
    </changelog>
    <changelog version="1.0.3">
    <changes lang="de">
        PT-2643: Korrigiert Filterfehler
    </changes>
    <changes lang="en">
        PT-2643: Fixed filter bug
    </changes>
    </changelog>
    <changelog version="1.0.2">
    <changes lang="de">
        Korrektur: Import von gegenseitig abhängigen Artikeln (ähnliche / related Artikel). Feature: Überpringen von Datensätzen;
        Feature: Events für Erweiterung des Moduls;
        Feature: Setze Standard-Werte beim Benutzer-Import (active-flag, default payment);
        Instock-Filter für Exporte hinzugefügt;
        Korrektur des DB-Schema-Updates;
        Korrektur: Import von Preisstaffeln;
        Import/Export von eigenen Attributen im Übersetzungsadapter hinzugefügt;
        PT-2532: Speichert Nachrichten im Log-File
    </changes>
    <changes lang="en">
        Added after import for the related articles - similar and accessories. Added new feature that skips corrupted record when importing;
        Added filter and notify events.;
        Sets default values on user import, for active state and default payment columns.;
        Added instock filter for exports;
        Changed db scheme on update from 1.0.0|1.0.1 to 1.0.2;
        Fixed bug on import price: 'to' had a wrong value.;
        Added import/export of custom attributes in translation adapter;
        PT-2532 Saving messages into a log file
    </changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="de">
         Problem mit verschwindendem Import/Export Menü-Eintrag behoben;
         Weitere ACL-Zugangsberechtigungen hinzugefügt;
         Korrektur: article.active Verhalten;
         Korrektur: Artikel-Attribute;
         Korrektur: Datums- und Zeitimporte
        </changes>
        <changes lang="en">
         Fixed disappearing of the old import/export item from the menu;
         Added more ACL permissions;
         Fixed article active flag behaviour;
         Fixed article attributes entries;
         Fixed date/time article import issues
        </changes>
    </changelog>
</plugin>
