<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="false" type="combo" scope="locale">
            <name>SwagImportExportErrorMode</name>
            <label lang="de">Mit Import/Export fortfahren, wenn ein Fehler auftritt</label>
            <label lang="en">Continue import/export if an error occurs during the process</label>
            <value>false</value>
            <description>This slogan will be shown on the storefront</description>

            <options>
                <option>
                    <id>true</id>
                    <name>Yes</name>
                    <name lang="de-DE">Ja</name>
                </option>
                <option>
                    <id>false</id>
                    <name>No</name>
                    <name lang="de-DE">Nein</name>
                </option>
            </options>
        </element>

        <element required="false" type="number" scope="locale">
            <name>batch-size-export</name>
            <label lang="de">Batch-Size Export</label>
            <label lang="en">Batch-Size Export</label>
            <value>1000</value>
        </element>

        <element required="false" type="combo" scope="locale">
            <name>SwagImportExportImageMode</name>
            <label lang="de">Bildimport-Modus</label>
            <label lang="en">Image import mode</label>
            <value>2</value>

            <options>
                <option>
                    <id>1</id>
                    <name>Re-use same article images</name>
                    <name lang="de-DE">Gleiche Artikelbilder erneut verwenden</name>
                </option>
                <option>
                    <id>2</id>
                    <name>Don\'t re-use article images</name>
                    <name lang="de-DE">Gleiche Artikelbilder nicht erneut verwenden</name>
                </option>
            </options>
        </element>

        <element type="boolean">
            <name>useCommaDecimal</name>
            <label lang="de">Komma als Dezimal-Trennzeichen nutzen</label>
            <label lang="en">Use comma as decimal separator</label>
            <value>true</value>
        </element>
    </elements>
</config>
